/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* viper tutorial */
body {
    color: #888;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 11pt;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #777;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 0.5625em 0;
}

h1 {
    font-size: 2.25em;
    line-height: 1.75em;
}
h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

#header {
    background: #0069B4;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    right: 0;
    top: 0;
    width: 20em;
}

#header .logoWrapper {
    margin: 20px auto 0;
    width: 190px;
}

#header .linkWrapper {
    margin: -7px auto 10px;
    width: 190px;
}

#header .linkWrapper a {
    color: #fff;
    font-size: 11px;
}

#nav {
    padding: 0 0 20px;
}

#nav li a {
    color: #fff;
}

#nav li.H1 {
    line-height: 190%;
    margin: 0 0 0 15px;
}
#nav li.H2 {
    font-size: .9em;
    line-height: 160%;
    margin: 0 0 0 40px;
}
#nav li.H2 a::before {
    content: "\00BB \0020";
}

#main, #footer {
    padding-right: 20em;
}

#main .container, #footer .container {
    margin-left: auto;
    margin-right: auto;
    padding: 4em 0 2em;
    width: 43em;
}

/* custom elements */
.load-code {
    bottom: 1.25em;
    position: absolute;
    right: 1.25em;
    height: 50px;
    width: 50px;
    background-image: url("../images/pen.png");
    background-size: 50px 50px;
    cursor: pointer;
}

.further_study:before {
	content: url("../images/magnifier.png") " Further study";
	width: 100%;
	color: #0069B4;
	font-size: 24pt;
}

.important:before {
	content: url("../images/important.png") " Important";
	font-size: 24pt;
	width: 100%;
	color: #0069B4;

}

.exercise:before {
	content: url("../images/exercise.png") " Exercise";
	width: 100%;
	color: #0069B4;
	font-size: 24pt;
}

.warning:before {
	content: url("../images/warning.png") " Warning";
	width: 100%;
	color: #F34A3E;
	font-size: 24pt;
}


.note:before {
	content: " Note: ";
	width: 100%;
	color: #D67400;
	/* font-size: 24pt; */
	font-weight: bold;
}

.alert-note {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}

#tutorial > p,
#tutorial > .alert,
#tutorial pre,
#tutorial > ul,
#tutorial > ol {
    margin: 1.25em 0 1.25em 0;
}

#tutorial pre {
    position: relative;
}

#tutorial pre, #tutorial code {
    font-family: "Source Code Pro", monospace;
}

#tutorial li {
    margin-left: 0;
    padding-left: 1em;
    position: relative;
}

#tutorial ul li::before {
    content: "▪";
    font-size: 1.5em;
    left: 0;
    position: absolute;
    top: 0;
}

#tutorial ol li {
    counter-increment: order;
}

#tutorial ol li::before {
    content: counter(order) ". ";
    left: 0;
    position: absolute;
    top: 0;
}

#tutorial ol {
    list-style: none;
    counter-reset: muffins;
}

#footer .copyright {
    line-height: 1em;
    list-style: none;
    padding: 0;
}

#footer .copyright li {
    border-left: solid 1px #d4d4d4;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
